body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mensagens{
  max-height: 470px;
  overflow-y: auto;
}

.bloqueado {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.text-titulo{
  font-size: 1.3em;
  font-weight: bold;
}
